* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f8;
  font-family: "Zilla Slab", serif;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  text-align: center;
  color: #ff6a23;
}

.menu {
  margin-top: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.btn-container button {
  background: linear-gradient(135deg, #ff6a23, #e05a1a);
  border: none;
  color: white;
  padding: 12px 24px;
  margin: 0 10px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-container button.active {
  background: linear-gradient(135deg, #e05a1a, #c04a0d);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-container button:hover {
  background: linear-gradient(135deg, #e05a1a, #c04a0d);
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-container button:active {
  background: linear-gradient(135deg, #c04a0d, #a03a0b);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 0.25rem solid black;
  border-radius: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.menu-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.menu-title h4 {
  margin: 0;
  color: #e00a00;
}

.menu-text {
  margin-top: 0.5rem;
  color: #000;
}

.menu-items {
  display: flex;
  margin: 20px 0;
}
